<nav class='site-nav'>
  <!-- Left: logo or site title -->
  <div class='site-nav-left'>
    {% if site.logo %}
      <a class='site-nav-logo' href='{{ site.baseurl }}/'>
        <img src='{{ site.baseurl }}{{ site.logo }}' alt='{{ site.title }}' />
      </a>
    {% else %}
      <a class='site-nav-logo' href='{{ site.baseurl }}/'>Intelliminds</a>
    {% endif %}
  </div>

  <!-- Right: single link -->
  <div class='site-nav-right'>
    <nav class='site-footer-nav'>
      <a href='{{ site.baseurl }}/'>Latest Posts</a>
    </nav>
  </div>
</nav>
